server {{ ppp_beagle_ip_address }} iburst prefer
server {{ wifi_beagle_ip_address }} iburst
server 0.pool.ntp.org iburst
driftfile /var/lib/chrony/drift
logdir /var/log/chrony
log measurements statistics tracking
keyfile /etc/chrony.keys
commandkey 1
initstepslew 40 {{ ppp_beagle_ip_address }}
initstepslew 40 {{ wifi_beagle_ip_address }}
initstepslew 20 0.pool.ntp.org
makestep 1 -1