SUBSYSTEM=="tty", ATTRS{idVendor}=="2639", ATTRS{idProduct}=="0300", OWNER="ubuntu", GROUP="ubuntu", SYMLINK+="xsens"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", OWNER="ubuntu", GROUP="ubuntu", SYMLINK+="ftdi"
